:root {
    --darkblue: #31343D;
    --lightblue: #92CCCD;
    --midblue: #63738D;
}

* {
    box-sizing: border-box;
}

body {
    line-height: 1.1;
    background-color: #EDEEF6;
    margin: 0;
    padding: 0;
}

main {
    width: 95%;
}

.headerOne {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darkblue);
    height: 60px;
}

h1 {
    background: var(--lightblue);
    color: var(--darkblue);
    padding: 10px;
    font-size: xx-large;
    text-align: right;
    width: 30%;
}

/* nav {
    font-size: larger;
    text-align: right;
    width: 90%;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
} */

a {
    color: var(--lightblue);
    text-decoration: none;
    padding: 5px;
    border-bottom: 3px solid var(--lightblue);
}

.HeaderTwo {
    background: var(--midblue);
    width: 100%;
    height: 120px;
    position: relative;
}

#selfie {
    width: 85px;
    height: 103px;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    position: absolute;
}

h2 {
    background-color: var(--lightblue);
    color: var(--darkblue);
    bottom: 10%;
    right: 5%;
    padding: 10px;
    font-size: x-large;
    position: absolute;
}

section {
    margin: 20px 0px 20px 0px;
    border: solid 1px orange;
}

.panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    justify-content: flex-end;
}

.cardImage {
        
}

.panel h3 {
    border: solid 1px red;
    text-align: right;
    font-size: xx-large;
    color: var(--midblue);
    /* display: flex; */
}

.MainContent {
    border: solid 1px red;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    height: 100%;
    border-left: solid 3px var(--midblue);
    padding: 5px 0px 10px 20px;
}

#miniBio {
    display: inline-block;
}


.card {
    width: 30%;
    height: 100px;
    position: relative;
    border: solid 3px var(--lightblue);
    margin: 5px 0px 5px 0px;
    background-size: cover;
    background-position: center;
}

.cardFirst {
    width: 100%;
    height: 200px;
    background-image: url(../images/m1Challenge.jpg);
}

.cardSecond {
    background-image: url(../images/m1-miniproject.png);
}

.cardThird {
    background-image: url(../images/prework.jpg);
}

.cardFourth {
    background-image: url(../images/m2MiniProject.png);
}

.cardFirst > div {
    position: absolute;
    bottom: 15px;
    padding: 3px;
    background-color: var(--lightblue);
    color: var(--darkblue);
}

.m1Challenge {
    background-image: url("../images/m1-miniproject.png");
}

.cardImage {
    width: 100%;
    /* height: 100%; */
    background-size: cover;
}

.contactinfo {
    color: var(--midblue);
    text-decoration: none;
    padding: 5px;
    border-bottom: 3px solid var(--midblue);
    display: inline-block;
    font-weight: bold;
}

/* Change header so <h1> and <nav> stacked vertically & centered on viewpprts narrower than 768px. */
/* @media screen and (max-width: 767px) {
    .HeaderOne {
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h1 {
        border: 1px solid red;
        background: var(--lightblue);
        color: var(--darkblue);
        padding: 10px;
        width: 75%;
        font-size: xx-large;
        text-align: center;
        display: block;
        position: relative;
        top: 0%;
        transform: translateY(0%);
        margin: auto;
    }

    nav {
        border: 1px solid red;
        font-size: larger;
        text-align: center;
        width: auto;
        display: block;
        position: relative;
        top: 0%;
        transform: translateY(-0%);
    }

    .card{
        width: 100%;
        display: block;
    }

    .cardImage {
        width: 100%;
        /* height: auto; */
        background-size: cover;
    }

    aside {
        border: solid 1px red;
        display: block;
        text-align: center;
        width: 200px;
    } */
}