:root {
    --darkblue: #31343D;
    --lightblue: #92CCCD;
    --midblue: #63738D;
}

/* * {
    box-sizing: border-box;
} */

body {
    line-height: 1.1;
    background-color: #EDEEF6;
    /* margin: 0;
    padding: 0; */
}

.headerOne {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darkblue);
    height: 60px;
}

h1 {
    background: var(--lightblue);
    color: var(--darkblue);
    padding: 10px;
    font-size: xx-large;
    text-align: right;
    width: 30%;
}

.navLink {
    color: var(--lightblue);
    text-decoration: none;
    padding: 5px;
    border-bottom: 3px solid var(--lightblue);
}

.HeaderTwo {
    background: var(--midblue);
    width: 100%;
    height: 120px;
    position: relative;
}

#selfie {
    width: 85px;
    height: 103px;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    position: absolute;
}

h2 {
    background-color: var(--lightblue);
    color: var(--darkblue);
    bottom: 10%;
    right: 5%;
    padding: 10px;
    font-size: x-large;
    position: absolute;
}

main {
    margin: 0 5% 0 5%;
}

section {
    margin: 20px 0px 20px 0px;
}

.panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    justify-content: flex-end;
}

.panel h3 {
    text-align: right;
    font-size: xx-large;
    color: var(--midblue);
    padding-right: 15px;
}

.mainContent {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    height: 100%;
    border-left: solid 3px var(--midblue);
    padding: 5px 0px 10px 15px;
}

.panel #miniBio {
    display: inline-block;
}

.card {
    width: 30%;
    height: 150px;
    position: relative;
    border: solid 3px var(--lightblue);
    margin: 5px 0px 5px 0px;
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}

.card:hover {
    opacity: 1;
  }

.cardFirst {
    width: 100%;
    height: 300px;
    background-image: url(../images/m1Challenge.jpg);
}

.cardSecond {
    background-image: url(../images/m1-miniproject.png);
}

.cardThird {
    background-image: url(../images/prework.jpg);
}

.cardFourth {
    background-image: url(../images/m2MiniProject.png);
}

/* .cardLink {
    display: block;
} */

.caption {
    position: absolute;
    padding: 3px;
    background-color: var(--lightblue);    
    color: var(--darkblue);
    bottom: 15px;
}

.captionHeader, .captionSubheader {
    text-decoration: none;
}

.contactinfo {
    color: var(--midblue);
    text-decoration: none;
    padding: 5px;
    border-bottom: 3px solid var(--midblue);
    display: inline-block;
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    .headerOne {
        height: 120px;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        width: 66%;
        text-align: center;
    }

    nav {
        padding-top: 5px;
    }

    .panel {
        flex-direction: column;
        align-items: center;
    }
    
    h3 {
        display: block;
    }

    .mainContent {
        border-left: solid 0px var(--midblue);
        border-top: solid 3px var(--midblue);
        justify-content: center; /* I am confused about "justify-content: center" vs "align-items: center", is it the axis? */
    }

    .card {
     min-width: 150px;
    }
  }