:root {
    --darkblue: #31343D;
    --lightblue: #92CCCD;
    --midblue: #63738D;
}

.HeaderOne {
    background-color: var(--darkblue);
    width: 100%;
    height: 60px;
}

.HeaderTwo {
    background-image: url(https://github.com/BenACooper/M2-CSSPortfolio/blob/main/Assets/images/code-wallpaper.jpg?raw=true);
    width: 100%;
    height: 120px;
    position: relative;
}

h1 {
    background: var(--lightblue);
    color: var(--darkblue);
    width: 20%;
    font-size: xx-large;
    text-align: right;
    display: inline-block;
}

nav {
    font-size: larger;
    text-align: right;
    width: 70%;
    display: inline-block;
}

a {
    color: var(--lightblue);
    text-decoration: none;
    padding: 5px;
    border-bottom: 3px solid var(--lightblue);
}

h2 {
    background-color: var(--lightblue);
    color: var(--darkblue);
    bottom: 10%;
    right: 5%;
    padding: 10px;
    font-size: x-large;
    position: absolute;

}

section {
    margin: 20px 0px 20px 0px;
}

aside {
    display: inline-block;
    width: 20%;
    text-align: right;
    font-size: xx-large;
    color: var(--midblue);
}

.MainContent {
    display: inline-block;
    width: 70%;
    height: 100%;
    border-left: solid 3px var(--midblue);
    padding: 5px 0px 20px 20px;
}

.card,
.firstcard {
    border: solid 3px var(--lightblue);
    display: inline-block;
}

.firstcard {
    width: 100%;
    height: 200px;
}

.card {
    width: 25%;
    height: 100px;
}

.contactinfo {
    color: var(--midblue);
    text-decoration: none;
    padding: 5px;
    border-bottom: 3px solid var(--midblue);
    display: inline-block;
    font-weight: bold;
}